@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
:root {
    --light: white;
    --accent: #c9a6ac; 
    --grey: #7f8398;
    --darkest: #301934;  
}
* {
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
  }
  .page-wrap {
    height: 100vh;
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
  
    > * {
      padding: 1rem;
      text-align: center;
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 100%;
      > * {
        grid-column: 1 / -1 !important;
      }
    }
  }
  //HEADER
  .page-header {
    grid-column: 1 / -1;   
    background-color: var(--darkest);
  }
  //SIDEBAR
  .page-sidebar {
    grid-column: 1 / -1;
    background: #e1bee7;
  }
  //ARTICLE
  .page-art {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background: var(--darkest) url(./images/360_F_320544571_jNg9ktjriptFiOGal3jL3UhEemd3zXvZ.jpg);
    opacity: .8;
  }
  .page-art div {
    opacity: 1;    
    color: white;    
  } 

  .page-art h1 {
    opacity: 1;
    font-family: 'Vidaloka', serif;
    text-Shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%);
  }
//MAIN
  .page-main {
    grid-column: 1 / -1;
    background-color: var(--darkest);
    padding: 0;
  }
.loco::after {
    content: "Los Angeles";
    font-size: 30px;
}
.stats {
  color: var(--grey);
}
.local-employees::before {
  content: "👤";
}
.local-employees::after {
    content: "45";
    float: right;
    color: black;
}
.total-employees::before {
  content: "👥";
}
.total-employees::after {
    content: "100";
    float: right;
    color: black;
}
.founded-in::before {
  content: "🗓";
}
.founded-in::after {
    content: "2022";
    float: right;
    color: black;
}
//FOOTER
  .page-footer {
    grid-column: 1 / -1;
    background-color: var(--darkest);
    color: #c4c2d3;
    font-size: 20px;
  }
svg {
  margin: 5px;
}
  details p {
    text-transform: none;
    text-align: left;
  }
