// :root {
//     --light: white;
//     --accent: #c9a6ac; 
//     --dark: #924d59;
//     --darkest: #924d59;  
// }
* {
    box-sizing: border-box;
  }
  body {
    background-color: var(--light);
    // padding: 5px;
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
  }
  .page-wrap {
    background-color: var(--light);
    height: 100vh;
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    // gap: 1px;
  
    > * {
      padding: 1rem;
      text-align: center;
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 100%;
    //   grid-template-rows: auto;
      > * {
        grid-column: 1 / -1 !important;
        // grid-row: auto !important;
      }
    }
  }
  .page-header {
    grid-column: 1 / -1;   
    background-color: var(--darkest);
    margin: 0 15px 0 15px;
  }
  .page-sidebar {
    grid-column: 1 / -1;
    background: #e1bee7;
  }
  .page-art {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    // background-image: url('./images/artImg.jpg');
    background-color: gray;
    opacity: .8;
  }
  .page-art div {
    opacity: 1;    
    color: white;    
  } 

  .page-art h1, p {
    opacity: 1;
    // text-shadow: 2px 2px gray;
  }
  .page-main {
    grid-column: 1 / -1;
    background: #dcedc8;
  }
  .page-footer {
    grid-column: 1 / -1;
    background: #ffecb3;
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
