@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
// :root {
//     --light: white;
//     --accent: #c9a6ac; 
//     --dark: #924d59;
//     --darkest: #924d59;  
// }
* {
    box-sizing: border-box;
  }
  body {
    background-color: var(--light);
    height: 100vh;
    margin: 0;
  
    font: 500 100% system-ui, sans-serif;
  }
  .page-wrap {
    background-color: var(--light);
    height: 100vh;
    box-shadow: 0 0 3px rgba(black, 0.33);
  
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
  
    > * {
      padding: 1rem;
      text-align: center;
    }
  
    @media (max-width: 600px) {
      grid-template-columns: 100%;
    //   grid-template-rows: auto;
      > * {
        grid-column: 1 / -1 !important;
        // grid-row: auto !important;
      }
    }
  }
  //HEADER
  .page-header {
    grid-column: 1 / -1;   
    background-color: var(--darkest);
    margin: 0 15px 0 15px;
  }
  //SIDEBAR
  .page-sidebar {
    grid-column: 1 / -1;
    background: #e1bee7;
  }
  //ARTICLE
  .page-art {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    // background-image: url('./images/Free_Sample_By_Wix\ \(1\).jpg');
    background-color: gray;
    opacity: .8;
  }
  .page-art div {
    opacity: 1;    
    color: white;    
  } 

  .page-art h1, p {
    opacity: 1;
    font-family: 'Vidaloka', serif;
    text-Shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 14%);
  }
//MAIN
  .page-main {
    grid-column: 1 / -1;
    background: #dcedc8;
  }
.loco::after {
    content: "Los Angeles";
    font-size: 20px;
}
.local-employees::after {
    content: "45";
    float: right;
}
.total-employees::after {
    content: "100";
    float: right;
}
.founded-in::after {
    content: "2022";
    float: right;
}
//FOOTER
  .page-footer {
    grid-column: 1 / -1;
    background: #ffecb3;
  }
  
  details p {
    text-transform: none;
    text-align: left;
  }
